@media screen and (max-width:576px) {
  .btn-primary {
    padding: 10px 25px;
    font-size: .75rem;
  }

  .nav {
    width: auto;
    flex-direction: column;
  }

  .banner-content h1,
  .nav-heading {
    max-width: 80%;
    font-size: 1.3rem;

  }

  .banner-p {
    font-size: .8rem;
  }

  .banner-img {
    width: auto;
    margin: 0;
  }

  .banner-content {
    max-width: 300px;
  }

  .banner-img {
    max-width: 80%;
  }
  

  .main {
    grid-template-areas:
      "main-img"
      "main-content";
      max-width: 100%;
     margin: 0 auto;
  }

  .main-img {
    width:  auto;
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
  }

  .main-img1 {
    grid-area: img1;
    

  }

  .main-img2 {
    grid-area: img2;

  }

  .main-img3 {
    grid-area: img3;
  }

  .main-img4 {
    grid-area: img4;
  }


.feature{
  margin: 20px 0px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.feature-img{
  margin: 0px;
}
.feature-img h1{
  padding: 10px;
  margin: 0 auto;
  font-size: 1rem;
    width: 200px;
    height: auto;
    border-radius: 5px;
    position: relative;

}
.feature-img-span{
  font-size: 2rem;

}
.badges{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
.badge1,
.badge2,
.badge3,
.badge4 {
margin: 10px;
padding: 10px;

}

.sponspors-company{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  
}
.sponspors-company img{
  width: 80%;
}



}
/* Responsive end */