@media screen and (max-width:576px) {
  .btn-primary {
    width: 120px;
    height: 40px;
    font-size: .75rem;
  }

  .nav {
    width: auto;
    flex-direction: column;
  }

  .banner-content h1,
  .nav-heading {
    max-width: 80%;
    font-size: 2rem;

  }

  .banner-p {
    font-size: .8rem;
  }

  .banner-img {
    width: auto;
    margin: 0;
  }

  .banner-content {
    max-width: 300px;
  }

  .banner-img {
    max-width: 80%;
  }

  .main {
    grid-template-areas:
      "main-img"
      "main-content";
      max-width: 100%;
     margin: 0 auto;
  }

  .main-img {
    width:  auto;
    grid-template-areas:
      "main-div1"
      "main-div2"
      "main-div3"
      "main-div4"
  }

  .main-img1 {
    grid-area: img1;
    max-width: 100%;
    border: 2px solid blue;

  }

  .main-img2 {
    grid-area: img2;
    max-width: 100%;
  }

  .main-img3 {
    grid-area: img3;
    max-width: 100%;
  }

  .main-img4 {
    grid-area: img4;
    max-width: 100%;
  }

}

.feature{
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.feature-img{
  margin: 0px;
}
.feature-img h1{
  padding: 0;
  margin: 0 auto;
  font-size: 1rem;
    width: 200px;
    position: relative;;

}
.feature-img-span{
  font-size: 2rem;

}

/* Responsive end */